<!DOCTYPE html>

<html>

<head>

<title>Covid'19 India Dashboard</title>

<!--import script files needed fro plotly and bootstrap-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>	
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</head>

<body>

<!--navbar links-->		
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
   <a class="navbar-brand" href="#">Covid'19 India Dashboard</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/pankhilprajapati">Pankhil Prajapati</a>
      </li>
    </ul>
  </div>
</nav>

<!--middle section-->		
<div class="row">

	<!--social media buttons column-->		
	<div class="col-1 border-right">
		<div id="follow-me" class="mt-3">
			<a href="https://www.linkedin.com/in/pankhil-prajapati-10301515b/">
				<img src="/static/img/linkedinlogo.png" alt="linkedin" class="img-fluid mb-4 ml-2">
			</a>
			<a href="https://github.com/pankhilprajapati">
				<img src="/static/img/githublogo.png" alt="github" class="img-fluid ml-2">
			</a>
		</div>
	</div>

	<!--visualizations column-->		
	<div class="col-11">

		<!--chart descriptions-->		
		<div id="middle-info" class="mt-3">

			<h2 id="tag-line">Covid'19 India Dashboard</h2>
			<h4 id="tag-line" class="text-muted">Total covid'19 cases in India = {{t_case}}</h4>
			
		</div>
		
		<hr>

		<!-- dropdown menu for filter -->


		<!--charts-->		
		<div id="charts" class="container mt-3 text-center">
					
			<!--top two charts-->		
			<div class="row">
				<div class="col-12">
					<h4>Bar Chart</h4>
					<div id="{{ids[0]}}" style=" margin-bottom: 50px;"></div>
				</div>
				<div class="col-12">
					<h4>Pie Chart</h4>
					<div id="{{ids[1]}}" style=" margin-top: 50px; margin-bottom: 50px;"></div>
				</div>
			</div>

			<!--bottom two charts-->		
			<div class="row mb-6">
				<div class="col-12">	
					<table class="table table-dark">
						<h3 class="pt-12">Case State wise</h3>
						<thead>
						  <tr>
							<th scope="col">State</th>
							<th scope="col">Total Case</th>
						  </tr>
						</thead>
						<tbody>
							<div class="dropdown">
									{%for i in range(all_states|length) %}
									<tr>
										<td class="nav-item dropdown dropleft">
											<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
												{{all_states[i]}}
											</a>
											<div class="dropdown-menu" style="background-color: darkgrey;" aria-labelledby="navbarDropdownMenuLink">
												{%for dis in district%}
												 {%if dis[1] == all_states[i]%}
											  <a class="dropdown-item " style="color: blue;" href="#">{{dis[0]}} :  {{dis[2]}}</a>
											  {%endif%}
											  {%endfor%}
											</div>
										</td>
										
									<td>{{all_cases[i]}}</td>
									</tr>
									{%endfor%}
									


							  </div>

						</tbody>
					  </table>
				</div>
				<div class="col-6">
					<div id="chart4">
						<div id="{{ids[3]}}"></div>
					</div>
				<div>
			</div>
		
		</div>
	<div>
</div>

<!--footer section-->				
<div id="footer" class="container"></div>

</body>


<footer>
    <script type="text/javascript">
    	// plots the figure by id using Plotly
    	// id much match the div id above in the html
    	var figures = {{figureJSON | safe}};
		var ids = {{ids | safe}};
		for(var i in figures) {
			Plotly.plot(ids[i],
				figures[i].data,
				figures[i].layout || {});
		};

		// checks or unchecks the filter boxes based on the select all box
        $("#select-all-check").change(function () {
        	$("#check-boxes input:checkbox").prop('checked', $(this).prop('checked'));
        });

		// uncheck select-all box when unchecking another box
		$("#form-filter").change(function () {
			if (!$(this).prop('checked')) {
				$("#select-all-check").prop('checked', false);
			}
		});

		// check select-all box when re-checking all of the other boxes
		$("#form-filter").change(function () {
			if ($(".country-check:checked").length == $('.form-check').length - 1) {
				$("#select-all-check").prop('checked', true);
			}
		});

    </script>

</footer>


</html>