<!DOCTYPE html>

<html>

<head>

<title>Covid'19 Dashboard</title>

<!--import script files needed fro plotly and bootstrap-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>	
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</head>

<body>

<!--navbar links-->		
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
   <a class="navbar-brand" href="/index">Covid'19 Dashboard</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li class="nav-item">
			<a class="nav-link" href="/index">Data</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="/worldmap">World Map</a>
		  </li>
		<li class="nav-item">
			<a class="nav-link" href="/visual">Visuals</a>
		  </li>
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/pankhilprajapati">Pankhil Prajapati</a>
      </li>
    </ul>
  </div>
</nav>

<!--middle section-->		
<div class="row">

	<!--social media buttons column-->		
	<div class="col-1 border-right">
		<div id="follow-me" class="mt-3">
			<a href="https://www.linkedin.com/in/pankhil-prajapati-10301515b/">
				<img src="/static/img/linkedinlogo.png" alt="linkedin" class="img-fluid mb-4 ml-2">
			</a>
			<a href="https://github.com/pankhilprajapati">
				<img src="/static/img/githublogo.png" alt="github" class="img-fluid ml-2">
			</a>
		</div>
	</div>

	<!--visualizations column-->		
	<div class="col-11">

		<!--chart descriptions-->		
		<div id="middle-info" class="mt-3">

			<h2 id="tag-line">Covid'19 World Map Dashboard</h2>
			<h4 id="tag-line" class="text-muted">Total covid'19 cases in World</h4>
            <table class="table">
				<thead>
				  <tr>
					<th scope="col">Total Cases</th>
					<th scope="col">Recovered</th>
                    <th scope="col">Deaths</th>
                    <th scope="col">Fatality rate</th>
				  </tr>
				</thead>
				<tbody>
					<tr>
						<td style="color: black;"><strong>{{world_tot['confirmed']}}</strong></td>
						<td style="color: green;"><strong>{{world_tot['recovered']}}</strong></td>
                        <td style="color: red;"><strong>{{world_tot['deaths']}}</strong></td>
						<td style="color: orange;"><strong>{{world_tot['fatality_rate']*100}} %</strong></td>
                        
					  </tr>

                </tbody>
            </table>
		</div>
		
		<hr>

		<!-- dropdown menu for filter -->


		<!--charts-->		
		<div id="charts" class="container mt-3 text-center">
					
			<!--top two charts-->		
			<div class="row">
				<div class="col-12">
					<h4>World Map displaying the covid'19 cases</h4>
					<div id="{{ids[0]}}" style=" margin-top: 50px; margin-bottom: 50px;"></div>
				</div>
				<div class="col-12">
					<h4>Comparing rise in Covid'19 Cases Of Top 10 Countries <br>with india</h4>
					<div id="{{ids[2]}}" style=" margin-top: 50px; margin-bottom: 50px;"></div>
				</div>
				<div class="col-12">
					<h4>Covid'19 Cases Of Top 20 Countries</h4>
					<div id="{{ids[1]}}" style=" margin-top: 50px; margin-bottom: 50px;"></div>
				</div>
			</div>

			<!--bottom two charts-->		
		
		</div>
	<div>
</div>

<!--footer section-->				
<div id="footer" class="container"></div>

</body>


<footer>
    <script type="text/javascript">
    	// plots the figure by id using Plotly
    	// id much match the div id above in the html
    	var figures = {{figureJSON | safe}};
		var ids = {{ids | safe}};
		for(var i in figures) {
			Plotly.plot(ids[i],
				figures[i].data,
				figures[i].layout || {});
		};

    </script>

</footer>


</html>